VITE_SUPABASE_URL=https://gejyryimpuqctahtaspt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1BJgY57txcMYyG0HeddfYQ_if0Kr78C
SUPABASE_SERVICE_ROLE_KEY=testing
RESEND_API_KEY=testing
RESEND_FROM_EMAIL=testing
APP_URL=http://localhost:5173
